@import 'style';
div#login {
    padding: 1px 5px 20px 5px;
    text-align: center;
    @include box-shadow(1px, 2px, 2px, #eee);
    width: 450px;
    margin: 5em auto 0 auto;
    form { margin-top: 10px; }
    div.g-recaptcha {
        display: table;
        margin: 0 auto; }
    span#details { font-size: 16px; }
    h1 {
        font-size: 26px;
        font-variant: small-caps;
        margin: 20px 0 5px 0; }
}
@media (max-width: 520px)  {
    div#login {
        width: 350px;
        h1 { font-size: 22px; }
        span#details { font-size: 14px; }
    }
}
@media (max-width: 390px) {
    div#login { width: 320px; }
}
@media (max-width: 330px) {
    div#login { width: 250px; } 
}
