@import 'vars';
ul.tweets {
	width: 310px;
	li { width: 300px; }
	@include column-count(1);
}
@media (min-width: 920px) {
	ul.tweets {
		li { width: 320px; }
		@include column-count(1); }
}

@media (min-width: 1320px) {
	ul.tweets {
		width: 350px;
		@include column-count(1); }
}


