@import 'vars';
@media (min-width: 920px) {
	ul.articles {
		width: 850px; 
		@include column-count(2); }
	ul.tweets {
		li {width: 180px; }
		width: 850px;
		@include column-count(4); }
}

@media (min-width: 1320px) {
	ul.articles {
		width: 1250px;
		@include column-count(3); }
	ul.tweets {
		width: 1250px;
		@include column-count(6); }
}
