ul.cards {
    -webkit-transition:0.2s linear all;
    -moz-transition:0.2s linear all;
    transition:0.2s linear all;
    -webkit-column-count:1;
    -webkit-column-gap:6px;
    -webkit-column-fill:auto;
    -moz-column-count:1;
    -moz-column-gap:6px;
    -moz-column-fill:auto;
    column-count:1;
    column-gap:6px;
    column-fill:auto;
    width:90%;
}
ul.cards li {
    margin:0 auto;
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    column-break-inside:avoid;
    margin-bottom:2em;
    list-style:none;
    width:400px;
}
div.card {
    padding-bottom:10px;
    background:#fff;
    border:1px solid #efefef;
    -webkit-box-shadow:0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 4px 0px rgba(0,0,0,0.2); 
    font-family:'Open Sans';
    color:#444;
    font-size:14px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    position:relative;
}
div.card p {
    margin:0 0 15px 0;
    padding:5px;
}
div.card p.card-title {
    padding:5px;
    font-size:28px;
}
div.card p.url {
    padding:5px;
    border-top:1px solid #e5e5e5;
    background-image:url('/static/url.png');
    background-repeat:no-repeat;
    padding:10px 0 0 30px;
    height:30px;
    display:block;
    margin-bottom:-10px;
}
div.card p.url a {
    color:#04bff4;
    text-decoration:none;
    top:4px;
    width:385px;
    display:block;
    position:relative;
}
div.card img.full {width:100%;}
@media (min-width:920px) {
    ul.cards {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}
@media (min-width:1320px) {
    ul.cards {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
}
