ul.cards, ul.tweets, div.tweet, div.tweet-meta {
    -webkit-transition:0.1s linear all;
    -moz-transition:0.1s linear all;
    transition:0.1s linear all;
}
ul.cards, ul.tweets {
    -webkit-column-fill:auto;
    -moz-column-fill:auto;
    column-fill:auto;
    margin:0 auto;
    width:400px;
}
ul.cards {
    -webkit-column-count:1;
    -webkit-column-gap:6px;
    column-count:1;
    column-gap:6px;
    -moz-column-count:1;
    -moz-column-gap:6px;
}
ul.tweets {
    margin-top:2em;
    -webkit-column-count:2;
    -webkit-column-gap:5px;
    column-count:2;
    column-gap:5px;
    -moz-column-count:2;
    -moz-column-gap:5px;
}
ul.cards li, ul.tweets li {
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    column-break-inside:avoid;
    list-style:none;
}
ul.cards li {
    width:400px;
    margin-bottom:2em;
}
ul.tweets li {
    width:180px;
    margin-bottom:5px;
}
div.card, div.tweet, div.tweet-meta {
    padding-bottom:10px;
    background:#fff;
    border:1px solid #efefef;
    color:#444;
    position:relative;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    font-size:14px;
}
div.tweet, div.tweet-meta {
    padding:2px;
    overflow:hidden;
}
div.card { 
    -webkit-box-shadow:0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 4px 0px rgba(0,0,0,0.2); 
}
div.tweet-meta {
    padding:5px;
    margin-top:5px;
    text-align:center;
}
div.tweet-meta img {
    width:54px;
    height:54px;
    border-radius:27px;
    border:1px dashed #d9d9d9;
}
div.mad {border:1px solid #d43f3a;}
div.happy {border:1px solid #449d44;}
div.hovering {color:black;}
div.no-hover {
    color:#c3c3c3;
    border:1px solid #f9f9f9;
}
div.most-controversial {border:2px solid #d43f3a;}
div.least-controversial {border:2px solid #2e6da4;}
div.card p {
    margin:0 0 15px 0;
    padding:5px;
}
div.card p.card-title {
    padding:5px;
    font-size:28px;
}
div.card p.url {
    padding:5px;
    border-top:1px solid #e5e5e5;
    background-image:url('/static/url.png');
    background-repeat:no-repeat;
    padding:10px 0 0 30px;
    height:30px;
    display:block;
    margin-bottom:-10px;
}
div.card p.url a {
    color:#04bff4;
    text-decoration:none;
    width:385px;
    display:block;
    position:relative;
}
div.card img.full {width:100%;}
@media (min-width:920px) {
    ul.cards {
        width:850px;
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
    ul.tweets {
        width:850px;
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;
    }
}
@media (min-width:1320px) {
    ul.cards {
        width:1250px;
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
    ul.tweets {
        width:1250px;
        -webkit-column-count:6;
        -moz-column-count:6;
        column-count:6;
    }
}
@media (max-width:550px) {
    .non-essentials {display:none;}
    ul.cards {width:320px;}
    ul.cards li {width:315px;}
}
