#login, #signup {
    padding:1px 5px 20px 5px;
    text-align:center;
    box-shadow:1px 1px 2px 2px #eee;
    width:450px;
    margin-top:5em;
    margin-left:auto;
    margin-right:auto;
}
form {margin-top:10px;}
#login-title {
    font-size:24px;
    font-weight:700;
    margin: 20px 0 5px 0;
    font-variant: small-caps;
}
.g-recaptcha {
    display: table;
    margin: 0 auto;
}
#login-details {font-size:16px;}
@media (max-width:520px) {
    .go {height:35px;}
    #login {width:350px;}
    #login-title {font-size:20px;}
    #login-details {font-size:12px;}
}
@media (max-width:390px) {
    #login {width:320px;}
}
@media (max-width:330px) {
    #login {width:250px;}    
}
