{% raw %}
<header>
<div>
	<a class=lg href="#results">&larr; all articles</a>
	<a class=mini href="#results">&larr;</a>
	&middot;
	<span title="{{ article.title }}" ng-bind-html="article.title | limitTo: lim"></span>
	{{ article.title.length > lim ? '&hellip;' : ''}}
	<span id=right-header>
		<a ng-show="previousExists" ng-click="change(-1)" title="more controversial article">
			&lArr; previous
		</a>
		<span ng-show="previousExists && nextExists">
			&middot;
		</span>
		<a ng-show="nextExists" ng-click="change(1)" title="less controversial article">
			next &rArr;
		</a>
	</span>
</div>
</header>
<main>
<ul class=details>
	<li ng-repeat="key in ['byline', 'source']">
	<span ng-show="article[key]" title="{{ key }}">
		{{ article[key] }}
	</span>&nbsp;
	</li>
	<li>
	<span title="publication date">
		{{ article['published'] | date: "EEEE, d MMMM yyyy" }}
	</span>
	</li>
</ul>
<article ng-bind-html="highlight(article.full, article.sentences)"></article>
<p>
Copyright &copy; 2015 The New York Times Company {% endraw %} <img src="{{ url_for('static', filename='img/nytimes.png') }}" /> {% raw %}. All Rights Reserved. <a target=_blank href="{{ article.url }}">Article on nytimes.com</a>
</p>
</main>
{% endraw %}
