<header>
	<div>
		<h1>Controversy</h1>
		<span id=subtitle class=non-essentials>
			hotspots of news articles
		</span>
		<span id=right-header title="{{ user['Name'] }} at {{ user['School'] }}">
			<span class=non-essentials>
				<i>welcome{% if user.Logins > 0 %} back{% endif %}, {{ user.Name|first_name }}</i> &middot;
			</span>
			{% if user.Id == 'bourbaki@illinois.edu' %}
			<a href="/account">about</a> &middot; <a href="/register_anon">register &rarr;</a>
			{% else %}
			<a href="/account">account</a>
			&middot;
			<a href="/logout">logout &rarr;</a>
			{% endif %}
		</span>
	</div>
</header>
<header id=sub>
	Uncached queries take around a minute to score!
</header>
{% raw %}
<main style="padding: 8em 1em">
<form ng-submit="submit()">
	<input autocomplete=off autocorrect=off type=text class=field id=search placeholder="enter a keyword" ng-model="$root.keyword" />
	<div class=featured_keywords>
		<dl class=left>
			<dt>Trending</dt>
			<dd><span ng-repeat="trend in trending" class=pointer ng-click="$root.keyword=trend">{{ trend }}<br></span></dd>
		</dl>
		<dl class=right>
			<dt>Controversial</dt>
			<dd><span title="entropy score of {{ term.EntropyScore }}" ng-repeat="term in controversial" class=pointer ng-click="$root.keyword=term.Term">{{ term.Term }}<br></span></dd>
		</dl>
	</div>

	<input type=submit ng-class="{'disabled' : !$root.can_query, 'loading' : $root.is_loading}" value="{{ button_value }}" /> 
{% endraw %}
</form>
</main>
