<header>
	<div>
		<h1>Controversy</h1>
		<span id=subtitle class=non-essentials>
			hotspots of news articles
		</span>
		<span id=right-header title="{{ user['Name'] }} at {{ user['School'] }}">
			<span class=non-essentials>
				welcome{% if user.Logins > 0 %} back{% endif %}, {{ user.Name|first_name }} &middot;

			</span>
			<a href="/account">account</a>
			&middot;
			<a href="/logout">logout &rarr;</a>
		</span>
	</div>
</header>
{% raw %}
<main>
<form ng-submit="submit()">
	<input autocomplete=off autocorrect=off type=text class=field id=search placeholder="enter a keyword" ng-model="$root.keyword" />
	<p class=featured_keywords>
	<small>trending</small>
	<i ng-repeat="trend in trending" class=pointer ng-click="$root.keyword=trend">{{ trend }} {{ $last ? '' : ', ' }}</i>
	</p>
	<p class=featured_keywords>
	<small>controversial</small>
	<i title="entropy score of {{ term.EntropyScore }}" ng-repeat="term in controversial" class=pointer ng-click="$root.keyword=term.Term">{{ term.Term }} {{ $last ? '' : ', '}}</i>
	</p>
	<input type=submit ng-class="{'disabled' : !$root.can_query, 'loading' : $root.is_loading}" value="{{ button_value }}" /> 
{% endraw %}
	{% if user['Logins'] < 2 %}
	<p>
	<tt>uncached queries take between 15 & 30 seconds</tt>
	</p>
	{% endif %}
</form>
</main>
