{% raw %}
<header>
	<div>
		<a href="#results/{{ articleIndex }}">
			&larr; article
		</a>
		<span class=non-essentials>
			&middot;
			controversial sentence &middot; closely related social content
		</span>
		<span id=right-header>
			<a ng-show="previousExists" ng-click="change(-1)" title="previous controversial sentence">
				&lArr; previous
			</a>
			<span ng-show="previousExists && nextExists">
				&middot;
			</span>
			<a ng-show="nextExists" ng-click="change(1)" title="next controversial sentence">
				next &rArr;
			</a>
		</span>
	</div>
</header>
<main>
<mark>{{ sentence.text }}</mark>
<ul id=tweets>
	<li ng-repeat="tweet in sentence.tweets">
	<div class=tweet ng-class="{ 'happy' : tweet.is_positive, 'mad' : tweet.is_negative }">
		{{ tweet.dirty }}
	</div> 
	</li>
</ul>
</main>
{% endraw %}
