{% raw %}
<header>
  <span id=header-content>
    <span class=smaller>
      <a href="#results">&larr; all articles</a>
      &middot;
      <span ng-bind-html="article.title | limitTo: lim"></span> {{ article.title.length > lim ? '&hellip;' : ''}}</span>
    </span>
    <span id=right-header>
      <a ng-show="previousExists" ng-click="change(-1)">
        &lArr; previous
      </a>
      <span ng-show="previousExists && nextExists">
        &middot;
      </span>
      <a ng-show="nextExists" ng-click="change(1)">
        next &rArr;
      </a>
    </span>
  </span>
</header>
<main>
  <ul class=details>
    <li ng-repeat="key in ['author', 'source', 'published']">
      <span ng-show="article[key]" class=detail>
        {{ article[key] }}
      </span>&nbsp;
    </li>
  </ul>
  <p style="text-align:justify" ng-bind-html="highlight(article.full, article.sentences)"></p>
  <p style="opacity:.6">
    Copyright &copy; 2015 The New York Times Company. All Rights Reserved.
  </p>
</main>
{% endraw %}
