{% raw %}
<header>
  <span id=header-content>
    <span class=smaller>
      <a href="#read/{{ articleIndex }}">
        &larr; article
      </a>
      <span class=non-essentials>
        &middot;
        controversial sentence &mdash; related social content
      </span>
    </span>
    <span id=right-header>
      <span ng-show="previousExists" ng-click="change(-1)">
        &lArr; previous
      </span>
      <span ng-show="previousExists && nextExists">
        &middot;
      </span>
      <span ng-show="nextExists" ng-click="change(1)">
        next &rArr;
      </span>
    </span>
  </span>
</header>
<main>
  <mark>{{ sentence.text }}</mark>
  <ul class=tweets>
    <li ng-repeat="tweet in sentence.tweets">
      <div class=tweet ng-mouseenter="hoverIn(tweet.pimg)" ng-mouseleave="hoverOut()" ng-class="{ 'happy' : tweet.sentiment == 4, 'mad' : tweet.sentiment == 0, 'hovering' : hovering, 'no-hover' : (!hovering && globalHover)}">
        {{ tweet.tweet }}
      </div> 
      <div class=tweet-meta ng-show="hovering">
        <img ng-src="{{ propic }}"/>
        <p>
          @{{ tweet.author }} has {{ tweet.followers }} followers
        </p>
      </div>
    </li>
  </ul>
</main>
{% endraw %}
