<!doctype html>
{% if page.angular %}
<html ng-app="{{ page.angular }}" lang=en>
{% else %}
<html lang="en">
{% endif %}
<title>{{ page.title }} &middot; Controversy &middot; hotspots of news articles</title>
<meta name="description" content="Hotspots of news articles: joint mining of news text and social media to discover controversial points in news. " />
<meta name="viewport" id="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
<link rel=stylesheet href="//fonts.googleapis.com/css?family=Lato" />
<link rel=stylesheet href="{{ url_for('static', filename='styles.css') }}" />
{% for stylesheet in page.custom_css %}
<link rel=stylesheet href="{{ url_for('static', filename=stylesheet) }}" />
{% endfor %}
{% block content %}{% endblock %}

<footer>
    <span id="footer-content">
        Joint Mining of News Text and Social Media to Discover Controversial Points in News
        <br>
        Ismini Lourentzou, Lisa Huang, Graham Dyer &mdash; <tt>{lourent2, xhuang62, gdyer2}@illinois.edu</tt> &mdash; University of Illinois, Urbana&ndash;Champaign
    </span>
</footer>

{% if page.angular %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-sanitize.min.js"></script>
{% endif %}
{% if page.custom_js %}
{% for script in page.custom_js %}
<script src="{{ url_for('static', filename=script) }}"></script>
{% endfor %}
{% endif %}

</html>
