{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id=message>
      {% for message in messages %}
        {{ message }}
        {% if not loop.last %}
          &middot;
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div id=login>
  <p id=login-title>Controversy</p>
  <span id=login-details>{{ unique.login_details|safe }}</span>
  <form method=post>
    <input type=hidden name=redirect value="{{ unique.redirect_url }}" />
    <input class="field {{ unique.extra_class }}" type=email name=username value="{{ unique.email }}" placeholder="email (username)" required />
    <input class="field {{ unique.extra_class }}" type=password name=password placeholder=password required />
    <br>
    <input class=go type=submit value="log in" />
  </form>
</div>
{% endblock %}
