{% extends "base.html" %}
{% block content %}
{% if unique.logged_in == true %}
<div id=message>
        you're already <a href="/">logged in</a>, but feel free to create another account
</div>
{% endif %}
<div id=login>
        <p id=login-title>Controversy</p>
        <span id=login-details>{{ unique.register_message|safe }}</span>
        <form method=post ng-controller="FormController">
                {% for field in unique.fields %}
                <input class="field {{ unique.extra_class }}" type="{{ field.type }}" ng-model="{{ field.name }}" value="{{ unique[field.name|lower] }}"name="{{ field.name }}" placeholder="{{ field.placeholder }}" required />
                {% endfor %}
                <br>
                <input class=go type=submit value=go />
        </form>
</div>
{% endblock %}

