{% extends "base.html" %}
{% block content %}
<header>
	<div>
		<h1>Controversy</h1>
		<span id=subtitle class=non-essentials>
			hotspots of news articles
		</span>
		<span id=right-header title="{{ user['Name'] }} at {{ user['School'] }}">
			<span class=non-essentials>
				{% if user['Logins'] > 1 %}
				welcome back, {{ user['Name']|first_name }} &middot;
				{% else %}
				welcome, {{ user['Name']|first_name }}! &middot;
				{% endif %}
			</span>
			<a href="/">home</a>
			&middot;
			<a href="/logout">logout &rarr;</a>
		</span>
	</div>
</header>
<main>


<h3>Query history</h3>
<ul>
	{% if history|length %}
	{{ user['Name']|first_name }}, you searched for &hellip;
	{% for query in history %}
	<li>
	{% with %}
	{% set pd = query['Performed']|pretty_date %}
	"<b>{{ query['Term'] }}</b>" {{ pd[0] }} <small>(on {{ pd[1] }})</small>
	{% endwith %}
	</li>
	{% endfor %}
	<p>
	<i>&hellip; and that's all we know</i><br>
	however, we forget things, especially when you <a href="account/forget">clear your history</a>
	</p>
	{% else %}
	&hellip; nothing yet. May we interest you in <a href="../">a try</a>?
	{% endif %}
</ul>


<h3>This account</h3>
<p>This account is owned by <b>{{ user['Name'] }}</b> who goes by <b>{{ user['Id'] }}</b> and is ostensibly associated with <b>{{ user['School'] }}</b>.</p>
<p>You're welcome to close your account. We'll delete anything associated with you. This doesn't include contributions to trending queries, since those are anonymous.</p>
<span>
	<form method=POST action="{{ url_for('account') }}">
		{{ form.csrf_token() }}
		{{ form.email.label }} {{ form.email(value=user.Id) }}
		{{ form.password.label }} {{ form.password(placeholder="confirm your password") }}
		<button type=submit>close account &rarr;</button>
	</form>
</span>
{% if form.errors %}
<p>
	{% for field in form.errors %}
	<b>{{ field }} &hellip;</b>
	{% for error in form.errors[field] %}
	{{ error|lower }}
	{% endfor %}
	{% endfor %}
</p>
{% endif %}



</p>

<h3>Usage notes</h3>
<p>We encrypt passwords with a one-way hash and cannot even see your password ourselves. As of fall 2015, we force SSL as you browse the site. This means your connection, namely the data we exchange, is private by default. We'd like to thank StartSSL for providing this service for free.</p>
<p>We'd like to thank the NSF and NIH for supporting this work.</p>

<h3 name=bugs id=bugs>About / Bugs</h3>
<a class="github-button" href="https://github.com/gdyer/controversy" data-icon="octicon-star" data-style="mega" aria-label="Star gdyer/controversy on GitHub">Star</a>
<a class="github-button" href="https://github.com/gdyer/controversy" data-icon="octicon-eye" data-style="mega" aria-label="Watch gdyer/controversy on GitHub">Watch</a>
<a class="github-button" href="https://github.com/gdyer/controversy/issues" data-icon="octicon-issue-opened" data-style="mega" data-count-api="/repos/ntkme/github-buttons#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue gdyer/controversy on GitHub">Known bugs</a>
<p>This is <b>Controversy</b>, version {{ version }}. Available <a target=_blank href="http://github.com/gdyer/controversy">on GitHub</a>.</p>
<div>
	<p>Found a bug? <a target=_blank href="https://github.com/gdyer/controversy/issues/new">Please file a report</a>.</p>
	<ul ng-controller="IssuesController" class=issues_list>
		Known problems &hellip;
		{% raw %}
		<img ng-src="/static/img/small-loading.gif" ng-show="!issues_loaded" />
		<b style="color:#4cae4c" ng-show="issues.length==0 && issues_loaded">none &#10003;</b>
		<li ng-show="issues && issues_loaded" ng-repeat="i in issues">
		<dl>
			<dt><sup>#</sup>{{ i.number }} <b>{{ i.title }}</b></dt>
			<dd>{{ i.body || 'no details provided' }}<br>{{ i.assignee.login || 'no one'}} was assigned on {{ i.created_at | date:'medium'}}. <small><a target=_blank href="{{ i.html_url }}">View on GitHub</a></small>.</dd>
		</dl>
		</li>
		{% endraw %}
	</ul>
</div>
</main>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
