{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div id=bug>
	{% for field in form.errors %}
	{% for error in form.errors[field] %}
	<b>{{ error|lower }}</b>
	{% endfor %}
	{% endfor %}
</div>
{% endif %}

<header>
	<div>
		<h1>Controversy</h1>
		<span id=subheader class=non-essentials>
			hotspots of news articles
		</span>
		<span id=right-header title="{{ user['Name'] }} at {{ user['School'] }}">
			<span class=non-essentials>
				{% if user['Logins'] > 1 %}
				welcome back, {{ user['Name']|first_name }} &middot;
				{% else %}
				welcome, {{ user['Name']|first_name }}!
				{% endif %}
			</span>
			<a href="/">home</a>
			&middot;
			<a href="/logout">logout</a>
		</span>
	</div>
</header>
<main>


<h3>Query history</h3>
<ul>
	{% if history|length %}
	{{ user['Name']|first_name }}, you search for &hellip;
	{% for query in history %}
	<li>
	<b>{{ query['Term'] }}</b> on {{ query['Performed']|pretty_date }}
	</li>
	{% endfor %}
	<p>
	<i>&hellip; and that's all we know</i><br>
	however, we forget things, especially when you <a href="account/clear-queries">clear your history</a>, so no guarantees
	</p>
	{% else %}
	&hellip; nothing yet. May we interest you in <a href="../">a try</a>?
	{% endif %}
</ul>


<h3>Drop account</h3>
<p>This account is owned by <b>{{ user['Name'] }}</b> who goes by <b>{{ user['Id'] }}</b> and is ostensibly associated with <b>{{ user['School'] }}</b>.</p>
<p>You're welcome to close your account. We'll delete anything associated with you. This doesn't include contributions to trending queries, since those are anonymous.</p>
<span>
	<form method=POST>
		{{ form.hidden_tag() }}
		{{ form.email.label }} {{ form.email(value=user['Id']) }}
		{{ form.password.label }} {{ form.password(placeholder="confirm your password") }}
		<button type=submit>close account &rarr;</button>
	</form>
</span>

</p>

<h3>A note about privacy</h3>
<p>While we do encrypt passwords (one-way hash), as of summer 2015, we don't use SSL as you browse the site. This means a nasty person on your WiFi network could easily snatch your (plaintext) email, name, and password as they're being sent to our server. That's why we encourage you to use a simple password, like an English word.</p>
</main>


{% endblock %}
