<!doctype html>
{% if angular is defined %}
<html ng-app="{{ angular }}" lang=en>
{% else %}
<html lang="en">
{% endif %}
<title>
{% if title is defined %}
{{ title }} &middot;
{% endif %}
Controversy &middot; hotspots of news articles</title>
<meta name="description" content="Hotspots of news articles: joint mining of news text and social media to discover controversial points in news. " />
<meta name="viewport" id="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

<link rel=stylesheet href="//fonts.googleapis.com/css?family=Open+Sans:400,700" />
<link rel=stylesheet href="{{ css }}" />
{% block content %}{% endblock %}

<footer>
    <p>
        Joint Mining of News Text and Social Media to Discover Controversial Points in News
        <br>
        Ismini Lourentzou, Abhishek Sharma, Graham Dyer, ChengXiang Zhai &mdash; <tt>{lourent2, sharma51, gdyer2, czhai}@illinois.edu</tt> &mdash; University of Illinois, Urbana-Champaign
    </p>
</footer>

{% if angular is defined %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-sanitize.min.js"></script>
{% endif %}
{% if js is defined %}
<script src="{{ js }}"></script>
{% endif %}
</html>
