<!doctype html>
{% if angular is defined %}
<html ng-app="{{ angular }}" lang=en>
{% else %}
<html lang="en">
{% endif %}
<title>
{% if title is defined %}
{{ title }} &middot;
{% endif %}
Controversy &middot; hotspots of news articles</title>
<meta name="description" content="Hotspots of news articles: joint mining of news text and social media to discover controversial points in news. " />
<meta name="viewport" id="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

<link rel=icon href="{{ url_for('static', filename='img/fav.ico') }}" />
<link rel=stylesheet href="{{ css }}" />
{% block content %}{% endblock %}

<footer>
    <p>
    	Hotspots of News Articles: Joint Mining of News Text &amp; Social Media to Discover Controversial Points in News
        <br>
	Ismini Lourentzou, Graham Dyer, Abhishek Sharma, ChengXiang Zhai &mdash; <tt>{lourent2, gdyer2, sharma51, czhai}@illinois.edu</tt> &mdash; University of Illinois, Urbana-Champaign.
    </p>
</footer>

{% if angular is defined %}
<script src="{{ url_for('static', filename='lib/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-route.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/angular-animate.js') }}"></script>
<script src="{{ url_for('static', filename='loading-bar.min.js') }}"></script>
{% endif %}
{% if js is defined %}
<script src="{{ js }}"></script>
{% endif %}
</html>
