{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div id=error>
    {% for field in form.errors %}
    <b>{{ field }}</b>&hellip;
    {% for error in form.errors[field] %}
    {{ error|lower }}
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id=message>
    {% for message in messages %}
    {{ message }}
    {% if not loop.last %}
    &middot;
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div id=login>
    <h1>Controversy</h1>
    <span id=details>
	    Please login or <a href="register">create a free account</a>. Accounts created before Oct. 10 7PM central were deleted in a database upgrade.
    </span>
    <form method=POST>
        {{ form.hidden_tag() }}
        {{ form.email(value=username, type="email", class_="field", placeholder="email (username)", required="required") }}
        {{ form.password(class="field", placeholder="password", required="required") }}
        <br>
        <input type=submit value="log in" />
    </form>
</div>
<script>
if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv 11/)))
{
	window.location.replace('not-supported');
}
</script>
{% endblock %}
