{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div id=error>
    {% for field in form.errors %}
    <b>{{ field }}</b>&hellip;
    {% for error in form.errors[field] %}
    {{ error|lower }}
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id=message>
    {% for message in messages %}
    {{ message }}
    {% if not loop.last %}
    &middot;
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div id=login>
    <h1>Controversy</h1>
    <span id=details>
	    Please login or <a href="register">create a free account</a>.<br>While the demo officially supports the lastest versions of Chrome, Firefox, Opera and Safari, we recommend using Chrome/Chromium.
    </span>
    <p><noscript><tt>this demo requires javascript</tt></noscript></p>
    <p id=no_connection style="display:none"><tt>we couldn't load a library from Google's CDN. please check your connectivity or allow googleapis connections.</tt></p>
    <form style="display:none" method=POST>
        {{ form.hidden_tag() }}
        {{ form.email(value=username, type="email", class_="field", placeholder="email (username)", required="required") }}
        {{ form.password(class="field", placeholder="password", required="required") }}
        <br>
        <input type=submit value="log in" />
    </form>
</div>
<script>
if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > 0) {
	window.location.replace('not-supported');
}
document.getElementsByTagName('form')[0].style.display = 'block';
</script>
{% endblock %}
