{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div id=error>
    {% for field in form.errors %}
    <b>{{ field|safe }}</b>&hellip;
    {% for error in form.errors[field] %}
    {{ error|lower }}
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id=message>
    {% for message in messages %}
    {{ message|safe }}
    {% if not loop.last %}
    &middot;
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div id=login>
    <h1>Controversy</h1>
    <span id=details>
	    <a href="training">Annotate articles</a> to help us build a dataset for future study!
	    <center>
		    <a href="https://github.com/gdyer/controversy">&star; on GitHub</a> &middot; <a href="https://github.com/gdyer/controversy/issues">Known bugs</a>
	    </center>
	    <hr>
	    Please login or <a href="register">create a free account</a> to use the demo.
	    We recommend using the latest version of Chrome, Chromium, or Opera.
    </span>
    <p><noscript><tt>Requires JavaScript</tt></noscript></p>
    <form style="display:none" method=POST>
        {{ form.hidden_tag() }}
        {{ form.email(value=username, type="email", class_="field", placeholder="email (username)", required="required") }}
        {{ form.password(class="field", placeholder="password", required="required") }}
	<center>
        	<input type=submit value="log in" />
	</center>
    </form>
</div>
<script>
if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > 0) {
	window.location.replace('not-supported');
}
document.getElementsByTagName('form')[0].style.display = 'block';
</script>
<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script>
if (!window.jQuery) {
	document.getElementsByTagName('form')[0].style.display = 'none';
} else {
	var isWebKit = 'WebkitAppearance' in document.documentElement.style;
	var isSafari = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1);
	if (isWebKit) {
		$.ajax({url: '/set/webkit'});
	}
	if (isSafari) {
		$.ajax({url: '/set/safari'});
	}
}
{% endblock %}
