{% extends "mturk_base.html" %}
{% block content %}
<!-- ``being_read``: {{ article.being_read }} -->
<!-- ``n_reads``: {{ article.n_reads }} -->
<div class="row">
	<div class="col-md-9">
		<p class="lead">Please click any sentences which you believe are controversial. We define controversial as expressing an opinon which could be debated by many people. When done, click <b><q>Submit</q></b>.</p>
	</div>
	<div class="col-md-3">
		<i>{{ article.title }}</i> <b>&middot;</b> {{ article.byline }} <b>&middot;</b> {{ article.published }} <b>&middot;</b> <q>{{ article.keyword }}</q> corpus
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-12">
		<div id="full_article">
			{% for paragraph in paras %}
			{% set _loop = loop %}
			<p>
			{% for sentence in paragraph %}
			<span onclick="toggleControversial({{ sentence_lookup(sentence) }}, this)">{{ sentence }}</span>
			{% endfor %}
			</p>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="alert" id="time_left" role="alert">
			<span><span>
		</div>
	</div>
	<div class="col-md-6" id="copyright">
		<p class="text-muted">Study from the University of Illinois at Urbana-Champaign <img src="{{ url_for('static', filename='img/affiliation.jpg') }}">. Articles &copy; 2015, The New York Times Company <img src="{{ url_for('static', filename='img/nytimes.png') }}" />. All rights reserved.</p>
	</div>
	<div class="row" id="bot_bar">
		<div class="col-md-12">
			<div class="pull-left">
				<img src="{{ url_for('static', filename='img/small-loading.gif') }}" style="display: none" />
				<b class="text-warning" id="error"></b>
			</div>
			<input type="button" class="btn btn-lg disabled" id="submit" value="Submit" />
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='mturk/jquery.min.js') }}"></script>
<script type="text/javascript">
	<!-- Turkers: if you modify these variables via a console, your work will be wasted: you won't be paid, and we'll reject your submission server-side. -->
	var controversial = [];
	var minimum_time = {{ minimum_time }};
	var n_sentences = {{ n_sentences }};
</script>
<script type="text/javascript" src="{{ js }}"></script>
{% endblock %}
