{% extends "mturk_base.html" %}
{% block content %}
<div class="page-header">
	<h1>controversial sentences</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<p>(<b class=text-danger>!</b>) See <a href="dataset">here</a> if you're a researcher interested in this data.</p>
	</div>
	<div class="col-md-12">
		<p class="lead">Each HIT involves reading an article from <em>The New York Times</em>. You must be fluent in English to particiate.</p>
		<p class="lead">While reading on the next page, click any sentences which you believe to be controversial, i.e. expressing an opinion or qualified fact (e.g. <q>terrible losses</q>) that you believe could be debated. Use your knowledge of current events while determining whether a sentence is controversial. When done, click <b><q>Submit</q></b>. You have unlimited time to read, however there is a minimum time shown at the bottom that is determined by the length of the article. You may not submit before this time or with no or too many highlights. Examples are below.</p>
		<p>This sentence is controversial because it describes some heavy action being enforced:</p>
		<blockquote class="good">
			<p>Across Russia, companies are <i>being forced</i> to prioritize patriotism over profits.</p>
		</blockquote>
		<p>Other examples of controversial sentences:</p>
		<blockquote class="good">
			<p>The abortion clinic was destroyed by <i>deep-seated hatred</i> expressed earlier that week by Catholic extremists.</p>
			<p>The airline has had <i>countless</i> safety problems in the past.</p>
			<p>Worried about unemployment and political unrest, the government pushed back when Avtovaz, the maker of Lada cars, <i>moved quickly to cut</i> workers as the economy slowed.</p>
			<p>In 1994, a pilot <i>let</i> his 16-year-old son fly an Airbus that <i>promptly</i> crashed, killing <i>all</i> 75 aboard.</p>
		</blockquote>
		<p>The following non-controversial sentence just states numbers:</p>
		<blockquote class="bad">
			<p><strike>During a demonstration flight in 2012, the plane crashed into a mountain in Indonesia with 37 aviation executives and journalists and eight crew members aboard, killing everybody.</strike></p>
		</blockquote>
	</div>
	<div class="col-md-8">
		<p>Complete the reCAPTCHA. Once done, click <b><q>Next</q></b>.</p>
		<form method=POST>
			<div class="form-group">
				{{ form.hidden_tag() }}
				{{ form.recaptcha }}
			</div>
			<button type="submit" class="btn btn-lg btn-default" id="btn-next">Next</button>
		</form>
		<br>
	</div>
	<div class="col-md-4">
		<p>Problems preventing submission of an HIT are unlikely. Should they nevertheless occur, email us your browser info: <b><tt>mturk</tt>@<tt>2pitau</tt>.<tt>org</tt></b></p>
		<br>
	</div>
</div>
{% endblock %}
