{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div id=error>
	{% for field in form.errors %}
	<b>{{ field }}</b>&hellip;
	{% for error in form.errors[field] %}
	{{ error|lower }}
	{% endfor %}
	{% endfor %}
</div>
{% endif %}
<div id=login>
	<h1>Controversy</h1>
	<span id=details>
		Your information is for our reference only and will never be shared with a 3<sup>rd</sup> party. You can also <a href="bourbaki">use the demo anonymously</a> if you like.
	</span>
	{% if logged_in == true %}
	You're already <a href="/">logged in</a>, but feel free to create another account.
	{% endif %}
	<form method=POST>
		{{ form.hidden_tag() }}
		{{ form.name(class_="field", autocomplete="words", placeholder="full name") }}
		{{ form.email(class_="field", type="email", placeholder="email (username)") }}
		{{ form.password(class_="field", placeholder="simple password") }}
		{{ form.school(class_="field", placeholder="institution") }}
		<!-- uncomment for recaptcha validation: \{\{ form.recaptcha \}\} -->
		<br>
		<input type=submit value=register />
	</form>
</div>
{% endblock %}
